{% extends 'base.html' %}

{% block title %}Meus Anúncios - MarketPlace{% endblock %}

{%  block content %}
<h3>Meus Anúncios</h3>
<br>
<p><a href="{% url 'product_new' %}">Novo Anúncio</a></p>

    <table class="table table-bordered">
        <tr>
            <th>Código</th>
            <th>Título</th>
            <th>Status</th>
            <th>Ação</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.status }}</td>
                <td><a href="{% url 'product_edit' product.id %}">Editar</a></td>
            </tr>
        {% endfor %}
    </table>
{%  endblock %}